*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 44px;
  font-weight: normal;
}
a {
  color: #0a6290;
  text-decoration: none;
}
a:hover {
  color: #074260;
}
.to-left,
.leftcol {
  float: left;
}
.to-right,
.rightcol {
  float: right;
}
.leftcol {
  position: relative;
  width: 820px;
  padding-right: 30px;
}
.rightcol {
  position: relative;
  width: 400px;
  padding-left: 30px;
}
.color-light {
  color: #eeefe9;
}
.color-light h1,
.color-light h2,
.color-light h3 {
  color: #eeefe9;
}
.color-dark {
  color: #322929;
}
.color-dark h1,
.color-dark h2,
.color-dark h3 {
  color: #e42525;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container {
  width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.broadcast-list .block-title {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #0a6290;
}
.broadcast-list .broadcast-single {
  margin-bottom: 15px;
}
.broadcast-list .broadcast-single .title {
  font-size: 24px;
  margin: 0 0 10px;
  color: #e42525;
  text-decoration: none;
}
.banners-list a {
  margin-bottom: 15px;
}
.winners {
  position: relative;
}
.winners .more {
  position: absolute;
  right: 100px;
  top: 10px;
  padding-right: 20px;
  font-size: 14px;
  color: #0a6290;
  text-decoration: none;
  background: url('../img/arrow-blue-icon.png') no-repeat center right;
}
.winners .more:hover {
  color: #074260;
}
.winners .title {
  font-size: 24px;
  margin: 0 0 15px;
  color: #e42525;
  text-decoration: none;
}
.winners .winners-list {
  width: 320px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.winners .winners-list .winners-inner {
  position: absolute;
  top: 0;
}
.winners .winner-single {
  height: 142.5px;
}
.winners .winner-single .winner-title {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  width: 255px;
}
.winners .winner-single .winner-info {
  width: 245px;
}
.winners .winner-single .category {
  display: block;
  padding-left: 30px;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: #0a6290;
  background: url('../img/smalllogo.png') no-repeat center left;
}
.winners .winner-single .desc {
  margin: 3px 0 5px;
  height: 45px;
  font-size: 12px;
  line-height: 14px;
  color: #4e4040;
}
.winners .winner-single img.to-left {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.winners .winners-divider {
  width: 216px;
  height: 15px;
  margin: 5px auto;
  background: url('../img/winners-divider.png') no-repeat center center;
}
.winners-nav {
  position: absolute;
  right: 0;
  top: 61px;
}
.winners-nav .line {
  width: 1px;
  height: 100px;
  margin: 5px auto;
  background: url('../img/winner-line.png') no-repeat center top;
}
.winners-nav .up,
.winners-nav .down {
  display: block;
  margin: 15px auto;
  width: 17px;
  height: 10px;
  cursor: pointer;
}
.winners-nav .up {
  background: url('../img/arrow-grey-top.png') no-repeat center center;
}
.winners-nav .up:hover {
  background: url('../img/arrow-red-top.png') no-repeat center center;
}
.winners-nav .down {
  background: url('../img/arrow-grey-bottom.png') no-repeat center center;
}
.winners-nav .down:hover {
  background: url('../img/arrow-red-bottom.png') no-repeat center center;
}
a.conditions {
  font-size: 15px;
  color: #0a6290;
  text-decoration: none;
}
a.conditions:hover {
  color: #074260;
}
.line-divider {
  width: 100%;
  height: 1px;
  margin: 30px 0 0;
  background: url('../img/line-divider.png') no-repeat center center;
}
.right-block {
  margin-top: 35px;
}
.right-block .block-title {
  color: #e42525;
  font-size: 24px;
  margin: 0 0 5px;
}
.right-block .block-content {
  font-size: 15px;
}
.conditions-block .btn-wrapper a {
  display: inline-block;
  width: 165px;
  height: 49px;
  margin-right: 10px;
  padding-top: 17px;
  padding-left: 45px;
  font-size: 14px;
  text-decoration: none;
  color: #140905;
  vertical-align: top;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.conditions-block .btn-wrapper a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.conditions-block .btn-wrapper .cond {
  background: url('../img/white-doc-btn.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.conditions-block .btn-wrapper .req {
  background: url('../img/white-request-btn.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination .left,
.pagination .right {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 19px;
}
.pagination .left {
  background: url('../img/arrow-grey-left.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.pagination .left:hover {
  background: url('../img/arrow-red-left.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.pagination .right {
  background: url('../img/arrow-grey-right.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.pagination .right:hover {
  background: url('../img/arrow-red-right.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.pagination ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.pagination ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  color: #322929;
  font-size: 18px;
}
.pagination ul li a {
  color: #322929;
  padding: 9px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.pagination ul li a:hover {
  background: #e42525;
  color: #eeefe9;
}
.grey-block {
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  background: #f6f5f3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.grey-block .title {
  text-align: center;
  color: #322929;
  font-size: 18px;
  margin: 0 0 15px;
}
.archive-list {
  text-align: center;
}
.archive-list a {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  padding: 7px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #322929;
}
.archive-list a:hover {
  color: #eeefe9;
  background: #e42525;
}
body {
  font-family: 'Arial', sans-serif;
}
.index-page .content {
  background: #fff;
}
.content {
  background: url('../img/page-bg.jpg') no-repeat center top #ffffff;
}
.header-fixed {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 133px;
  background: url('../img/menutop-fixed-bg.png') no-repeat center center;
}
.header-fixed .container {
  height: 74px;
}
.top-menu {
  position: absolute;
  top: 60px;
  right: 10px;
}
.top-menu li {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}
.top-menu li a {
  padding: 1px 10px 1px 0;
  font-size: 15px;
  line-height: 24px;
  color: #6a6a6a;
  text-decoration: none;
  border-right: 1px solid #6a6a6a;
}
.top-menu li a:hover,
.top-menu li a.active {
  color: #a81515;
}
.top-menu li ul {
  display: none;
}
.top-menu li:last-child a {
  border-right: none;
}
.logo-top {
  position: absolute;
  top: 10px;
  left: 190px;
  width: 194px;
  height: 129px;
  background: url('../img/logo.png') no-repeat center center;
}
.slider {
  position: relative;
  width: 100%;
  min-width: 1260px;
  height: 485px;
  overflow: hidden;
}
.slider .slide {
  height: 485px;
  left: 50% !important;
  margin-left: -960px;
}
.slider .slide img {
  width: 1920px;
  height: 485px;
}
.slider .slide-content {
  position: absolute;
  top: 0;
  width: 1260px;
  padding-top: 220px;
  padding-left: 135px;
  height: 100%;
  left: 50%;
  margin-left: -630px;
}
.slider .title {
  font-size: 30px;
  font-weight: lighter;
  line-height: 40px;
  color: #e42525;
  background: #f6f5f3;
}
.slider .desc {
  width: 650px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: #140905;
  background: #f6f5f3;
}
.slider .desc p {
  margin: 0;
}
.slider .desc .more {
  font-size: 15px;
  font-weight: lighter;
  color: #e42525;
  padding-left: 10px;
  text-decoration: none;
}
.slider .prev,
.slider .next {
  position: absolute;
  width: 185px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.slider .prev img,
.slider .next img {
  display: none;
  position: relative;
}
.slider .prev:hover img,
.slider .next:hover img {
  display: block;
}
.slider .prev {
  left: 20px;
  background: url('../img/arrow-red-left.png') no-repeat center left 10px;
}
.slider .prev img {
  left: 44px;
}
.slider .prev:hover {
  background: url('../img/arrow-red-left.png') no-repeat center left 10px #f6f5f3;
}
.slider .next {
  right: 20px;
  background: url('../img/arrow-red-right.png') no-repeat center right 10px;
}
.slider .next:hover {
  background: url('../img/arrow-red-right.png') no-repeat center right 10px #f6f5f3;
}
.block2 {
  position: relative;
  top: -26px;
  z-index: 10;
  padding: 40px 0 55px;
  background: url('../img/block2-bg.png') no-repeat center top;
}
.block2 .latest {
  display: block;
  width: 182px;
  height: 36px;
  margin: 0 auto;
  padding-top: 2px;
  color: #eeefe9;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background: url('../img/red-arrow-btn.png') no-repeat center center;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block2 .latest:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.block2 .broadcast-list .block-title {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #0a6290;
}
.block2 .broadcast-list .broadcast-single {
  margin-bottom: 15px;
}
.block2 .broadcast-list .broadcast-single .title {
  font-size: 24px;
  margin: 0 0 10px;
  color: #e42525;
  text-decoration: none;
}
.block2 .banners-list a {
  margin-bottom: 15px;
}
.block2 .winners {
  position: relative;
}
.block2 .winners .more {
  position: absolute;
  right: 100px;
  top: 10px;
  padding-right: 20px;
  font-size: 14px;
  color: #0a6290;
  text-decoration: none;
  background: url('../img/arrow-blue-icon.png') no-repeat center right;
}
.block2 .winners .more:hover {
  color: #074260;
}
.block2 .winners .title {
  font-size: 24px;
  margin: 0 0 15px;
  color: #e42525;
  text-decoration: none;
}
.block2 .winners .winners-list {
  width: 320px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.block2 .winners .winners-list .winners-inner {
  position: absolute;
  top: 0;
}
.block2 .winners .winner-single {
  height: 142.5px;
}
.block2 .winners .winner-single .winner-title {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  width: 255px;
}
.block2 .winners .winner-single .winner-info {
  width: 245px;
}
.block2 .winners .winner-single .category {
  display: block;
  padding-left: 30px;
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  color: #0a6290;
  background: url('../img/smalllogo.png') no-repeat center left;
}
.block2 .winners .winner-single .desc {
  margin: 3px 0 5px;
  height: 45px;
  font-size: 12px;
  line-height: 14px;
  color: #4e4040;
}
.block2 .winners .winner-single img.to-left {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.block2 .winners .winners-divider {
  width: 216px;
  height: 15px;
  margin: 5px auto;
  background: url('../img/winners-divider.png') no-repeat center center;
}
.block2 .winners-nav {
  position: absolute;
  right: 0;
  top: 61px;
}
.block2 .winners-nav .line {
  width: 1px;
  height: 100px;
  margin: 5px auto;
  background: url('../img/winner-line.png') no-repeat center top;
}
.block2 .winners-nav .up,
.block2 .winners-nav .down {
  display: block;
  margin: 15px auto;
  width: 17px;
  height: 10px;
  cursor: pointer;
}
.block2 .winners-nav .up {
  background: url('../img/arrow-grey-top.png') no-repeat center center;
}
.block2 .winners-nav .up:hover {
  background: url('../img/arrow-red-top.png') no-repeat center center;
}
.block2 .winners-nav .down {
  background: url('../img/arrow-grey-bottom.png') no-repeat center center;
}
.block2 .winners-nav .down:hover {
  background: url('../img/arrow-red-bottom.png') no-repeat center center;
}
.newsletter {
  position: absolute;
  padding-left: 25px;
  right: 30px;
  top: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #e42525;
  text-decoration: none;
  background: url('../img/add-red-icon.png') no-repeat left center;
}
.newsletter:hover {
  color: #be1818;
}
.article-single {
  margin-bottom: 30px;
}
.article-single img.to-left {
  width: 245px;
  height: 165px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-right: 15px;
}
.article-single .article-info {
  width: 530px;
}
.article-single .article-info .title,
.article-single .article-info .date,
.article-single .article-info .desc {
  margin: 0;
}
.article-single .article-info .title {
  font-size: 24px;
  line-height: 30px;
  color: #140905;
  text-decoration: none;
}
.article-single .article-info .title:hover {
  color: #e42525;
}
.article-single .article-info .date {
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px;
  color: #0a6290;
}
.article-single .article-info .desc {
  margin: 5px 0 10px;
  height: 75px;
  font-size: 13px;
  line-height: 15px;
}
.article-single .article-info .more {
  padding-right: 20px;
  font-size: 14px;
  color: #0a6290;
  text-decoration: none;
  background: url('../img/arrow-blue-icon.png') no-repeat center right;
}
.article-single .article-info .more:hover {
  color: #074260;
}
.block3 {
  position: relative;
  padding: 40px 0 55px;
  z-index: 10;
  top: -46px;
  background: url('../img/block3-bg.png') no-repeat center top;
}
.block3 h2 {
  margin-bottom: 40px;
}
.block3 .more {
  position: absolute;
  top: 22px;
  right: 260px;
  padding-right: 20px;
  font-size: 14px;
  color: #0a6290;
  text-decoration: none;
  background: url('../img/arrow-blue-icon.png') no-repeat center right;
}
.block3 .more:hover {
  color: #074260;
}
.block3 .news-single {
  display: inline-block;
  vertical-align: top;
  height: 170px;
  width: 245px;
  margin-right: 25px;
}
.block3 .news-single .title,
.block3 .news-single .date,
.block3 .news-single .desc {
  margin: 0;
}
.block3 .news-single .title {
  color: #eeefe9;
  font-size: 18px;
  text-decoration: none;
}
.block3 .news-single .title:hover {
  color: #e42525;
}
.block3 .news-single .date {
  margin: 3px 0;
  font-size: 12px;
  color: #0a6290;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.block3 .news-single .desc {
  font-size: 13px;
  line-height: 18px;
}
.block3 .news-single:last-child {
  margin-right: -4px;
}
.block3 .news-divider {
  width: 793px;
  height: 19px;
  margin: 0 auto;
  background: url('../img/news-divider.png') no-repeat center center;
}
.block4 {
  position: relative;
  top: -64px;
  padding: 90px 0;
  z-index: 8;
  text-align: center;
  background: url('../img/block4-bg.jpg') no-repeat center top;
}
.block4 .about-divider {
  width: 216px;
  height: 15px;
  margin: 25px auto;
  background: url('../img/winners-divider.png') no-repeat center center;
}
.block4 .about-desc {
  font-size: 16px;
  line-height: 25px;
}
.block4 .more {
  display: block;
  width: 182px;
  height: 36px;
  margin: 25px auto;
  padding: 6px;
  font-size: 15px;
  color: #eeefe9;
  text-decoration: none;
  background: url('../img/red-btn.png') no-repeat center center;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block4 .more:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.block5 {
  position: relative;
  padding: 90px 0 75px;
  z-index: 9;
  top: -86px;
  text-align: center;
  background: url('../img/block5-bg.png') no-repeat center top;
}
.block5 .cond-divider {
  width: 216px;
  height: 15px;
  margin: 25px auto;
  background: url('../img/winners-divider.png') no-repeat center center;
}
.block5 .cond-desc {
  font-size: 16px;
  line-height: 25px;
}
.block5 .twocol {
  margin-top: 25px;
}
.block5 .onecol {
  width: 580px;
}
.block5 .onecol .img-wrapper {
  height: 55px;
}
.block5 .onecol .step-desc {
  font-size: 14px;
  line-height: 24px;
}
.block5 .btn-wrapper {
  margin-top: 15px;
}
.block5 .btn-wrapper a {
  display: inline-block;
  width: 232px;
  height: 67px;
  margin: 0 25px;
  padding-top: 20px;
  padding-left: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #140905;
  vertical-align: top;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.block5 .btn-wrapper a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.block5 .btn-wrapper .cond {
  background: url('../img/white-doc-btn.png') no-repeat center center;
}
.block5 .btn-wrapper .req {
  background: url('../img/white-request-btn.png') no-repeat center center;
}
.page {
  margin: 40px 0 50px;
}
.page .page-content .title {
  font-size: 24px;
  line-height: 26px;
}
.page .page-content p {
  font-size: 14px;
  line-height: 22px;
}
.page p.subcontent {
  margin-left: 15px;
  font-size: 13px;
}
.page-article h1,
.page-article h2 {
  font-size: 24px;
  line-height: inherit;
}
.page-article .img-article {
  width: 100%;
  height: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.page-article .date-article {
  margin: 5px 0;
  font-size: 12px;
  color: #0a6290;
}
.page-article .share-article {
  text-align: center;
}
.page-article .share-article p {
  margin: 10px 0 5px;
}
.page-article .line-divider {
  margin: 15px 0;
}
.page-article .latest-block h3 {
  font-size: 24px;
  text-align: center;
}
.page-article .latest-single {
  display: inline-block;
  vertical-align: top;
  height: 330px;
  width: 245px;
  margin-right: 25px;
}
.page-article .latest-single .title,
.page-article .latest-single .date,
.page-article .latest-single .desc {
  margin: 0;
}
.page-article .latest-single .title {
  color: #e42525;
  font-size: 18px;
  text-decoration: none;
}
.page-article .latest-single .title:hover {
  color: #be1818;
}
.page-article .latest-single .date {
  margin: 3px 0;
  font-size: 12px;
  color: #0a6290;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.page-article .latest-single .desc {
  font-size: 13px;
  line-height: 18px;
}
.page-article .latest-single:last-child {
  margin-right: -4px;
}
.page-contacts .map {
  float: left;
}
.page-contacts .map ymaps {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.page-contacts .contacts-rightcol {
  float: left;
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
}
.page-contacts .contacts-leftcol {
  font-size: 14px;
  line-height: 20px;
}
.page-contacts .contacts-leftcol a {
  text-decoration: underline;
}
.page-contacts .contacts-leftcol a:hover {
  text-decoration: none;
}
.breadcrumbs {
  padding-top: 135px;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  color: #777777;
}
.breadcrumbs ul li a {
  color: #777777;
  text-decoration: none;
}
.breadcrumbs ul li a:hover {
  color: #322929;
}
.breadcrumbs ul li:after {
  content: '/';
  font-size: 12px;
  color: #777777;
  margin-left: 8px;
}
.breadcrumbs ul li:last-child:after {
  content: none;
}
.main-footer .partners-slider a {
  text-decoration: none;
  text-align: center;
}
.main-footer .partners-slider a img {
  width: 158px;
  height: 61px;
}
.main-footer .partners-slider a p {
  width: 160px;
  margin: 0;
  font-size: 11px;
  color: #909090;
}
.main-footer .partners-slider a:hover p {
  color: #e42525;
}
.main-footer .partners-slider .owl-prev,
.main-footer .partners-slider .owl-next {
  position: absolute;
  display: block;
  width: 16px;
  height: 31px;
  top: 50%;
  margin-top: -15.5px;
  text-indent: -9999px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.main-footer .partners-slider .owl-prev:hover,
.main-footer .partners-slider .owl-next:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.main-footer .partners-slider .owl-prev {
  left: -20px;
  background: url('../img/arrow-grey-left.png') no-repeat center center;
}
.main-footer .partners-slider .owl-next {
  right: -20px;
  background: url('../img/arrow-grey-right.png') no-repeat center center;
}
.main-footer .top-panel {
  padding-bottom: 30px;
}
.main-footer .top-panel + .line-divider {
  margin: 0;
}
.main-footer .bottom-panel {
  padding-top: 30px;
  background: #f9f9f9;
}
.main-footer .logo-bottom {
  margin-left: 65px;
  display: block;
  width: 108px;
  height: 108px;
  background: url('../img/logobottom.png') no-repeat center center;
}
.main-footer .logo-bottom:hover {
  background: url('../img/logobottom-h.png') no-repeat center center;
}
.main-footer .menu-bottom {
  margin-top: 10px;
  margin-left: 95px;
}
.main-footer .menu-bottom ul {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}
.main-footer .menu-bottom ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #909090;
}
.main-footer .menu-bottom ul li a:hover {
  color: #e42525;
}
.main-footer .social {
  margin-top: 10px;
  margin-left: 150px;
}
.main-footer .social p {
  margin: 0;
  font-size: 14px;
  color: #909090;
}
.main-footer .social .soc-links {
  margin-top: 10px;
}
.main-footer .social .soc-links a {
  display: inline-block;
  width: 34px;
  height: 33px;
  margin-right: 5px;
  vertical-align: top;
}
.main-footer .social .tw {
  background: url('../img/twitter-icon.png') no-repeat center;
}
.main-footer .social .tw:hover {
  background: url('../img/twitter-icon-h.png') no-repeat center;
}
.main-footer .social .fb {
  background: url('../img/facebook-icon.png') no-repeat center;
}
.main-footer .social .fb:hover {
  background: url('../img/facebook-icon-h.png') no-repeat center;
}
.main-footer .social .gp {
  background: url('../img/google-icon.png') no-repeat center;
}
.main-footer .social .gp:hover {
  background: url('../img/google-icon-h.png') no-repeat center;
}
.main-footer .hodlogo {
  display: block;
  margin-top: 10px;
  margin-left: 35px;
  width: 96px;
  height: 64px;
  background: url('../img/hodlogo.png') no-repeat center center;
}
.main-footer .hodlogo:hover {
  background: url('../img/hodlogo-h.png') no-repeat center center;
}
