@light: #eeefe9;
@light2: #f6f5f3;
@dark: #322929;
@gray: #909090;
@black: #140905;
@red: #e42525;
@blue: #0a6290;
@hover: #ffbb96;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
	font-style: normal;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 44px;
	line-height: 44px;
	font-weight: normal;
}
a {
	color: @blue;
	text-decoration: none;

	&:hover {
		color: darken(@blue, 10%);
	}
}
.to-left, .leftcol {
	float: left;
}
.to-right, .rightcol {
	float: right;
}
.leftcol {
	position: relative;
	width: 820px;
	padding-right: 30px;
}
.rightcol {
	position: relative;
	width: 400px;
	padding-left: 30px;
}
.color-light {
	color: @light;

	h1, h2, h3 {
		color: @light;
	}
}
.color-dark {
	color: @dark;

	h1, h2, h3 {
		color: @red;
	}
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.container {
	width: 1260px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.broadcast-list {

	.block-title {
		margin: 0;
		font-size: 12px;
		line-height: 12px;
		color: @blue;
	}
	.broadcast-single {
		margin-bottom: 15px;

		.title {
			font-size: 24px;
			margin: 0 0 10px;
			color: @red;
			text-decoration: none;
		}
	}
}
.banners-list {

	a {
		margin-bottom: 15px;
	}
}
.winners {
		position: relative;

		.more {
			position: absolute;
			right: 100px;
			top: 10px;
			padding-right: 20px;
			font-size: 14px;
			color: @blue;
			text-decoration: none;
			background: url('../img/arrow-blue-icon.png') no-repeat center right;

				&:hover {
					color: darken(@blue, 10%);
				}

		}
		.title {
			font-size: 24px;
			margin: 0 0 15px;
			color: @red;
			text-decoration: none;
		}
		.winners-list {
			width: 320px;
			height: 300px;
			overflow: hidden;
			position: relative;

			.winners-inner {
				position: absolute;
				top: 0;
			}
		}
		.winner-single {
			height: 142.5px;

			.winner-title {
				font-size: 15px;
				margin: 0;
				margin-bottom: 10px;
				width: 255px;
			}
			.winner-info {
				width: 245px;
			}
			.category {
				display: block;
				padding-left: 30px;
				margin: 0;
				font-size: 12px;
				line-height: 24px;
				color: @blue;
				background: url('../img/smalllogo.png') no-repeat center left;
			}
			.desc {
				margin: 3px 0 5px;
				height: 45px;
				font-size: 12px;
				line-height: 14px;
				color: lighten(@dark, 10%);
			}
			img.to-left {
				width: 75px;
				height: 75px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
				border-radius: 6px;
			}
		}
		.winners-divider {
			width: 216px;
			height: 15px;
			margin: 5px auto;
			background: url('../img/winners-divider.png') no-repeat center center;
		}
	}
	.winners-nav {
		position: absolute;
		right: 0;
		top: 61px;

		.line {
			width: 1px;
			height: 100px;
			margin: 5px auto;
			background: url('../img/winner-line.png') no-repeat center top;
		}
		.up, .down {
			display: block;
			margin: 15px auto;
			width: 17px;
			height: 10px;
			cursor: pointer;
		}
		.up {
			background: url('../img/arrow-grey-top.png') no-repeat center center;

			&:hover {
				background: url('../img/arrow-red-top.png') no-repeat center center;
			}
		}
		.down {
			background: url('../img/arrow-grey-bottom.png') no-repeat center center;

			&:hover {
				background: url('../img/arrow-red-bottom.png') no-repeat center center;
			}
		}
	}
a.conditions {
	font-size: 15px;
	color: @blue;
	text-decoration: none;

	&:hover {
		color: darken(@blue, 10%)
	}
}
.line-divider {
	width: 100%;
	height: 1px;
	margin: 30px 0 0;
	background: url('../img/line-divider.png') no-repeat center center;
}
.right-block {
	margin-top: 35px;

	.block-title {
		color: @red;
		font-size: 24px;
		margin: 0 0 5px;
	}
	.block-content {

		font-size: 15px;
	}
}
.conditions-block {

	.btn-wrapper {

		a {
			display: inline-block;
			width: 165px;
			height: 49px;
			margin-right: 10px;
			padding-top: 17px;
			padding-left: 45px;
			font-size: 14px;
			text-decoration: none;
			color: @black;
			vertical-align: top;
			opacity: 0.9;
			filter: alpha(opacity=90);
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;
			border-radius: 6px;

			&:hover {
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}
		.cond {
			background: url('../img/white-doc-btn.png') no-repeat center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
		.req {
			background: url('../img/white-request-btn.png') no-repeat center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
	}
}
.pagination {
	margin-top: 40px;
	text-align: center;
	.left, .right {
		display: inline-block;
		vertical-align: top;
		width: 10px;
		height: 19px;
	}
	.left {
		background: url('../img/arrow-grey-left.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;

		&:hover {
			background: url('../img/arrow-red-left.png') no-repeat center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
	}
	.right {
		background: url('../img/arrow-grey-right.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;

		&:hover {
			background: url('../img/arrow-red-right.png') no-repeat center center;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
	}
	ul {
		display: inline-block;
		vertical-align: top;
		margin: 0 8px;
			
		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 5px;
			color: @dark;
			font-size: 18px;

			a {
				color: @dark;
				padding: 9px 6px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;

				&:hover {
					background: @red;
					color: @light;
				}
			}
		}
	}
}
.grey-block {
	margin-top: 40px;
	width: 100%;
	padding: 20px;
	background: @light2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	.title {
		text-align: center;
		color: @dark;
		font-size: 18px;
		margin: 0 0 15px;
	}
}
.archive-list {
	text-align: center;

	a {
		display: inline-block;
		vertical-align: top;
		margin: 0 3px;
		padding: 7px 10px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		color: @dark;

		&:hover {

			color: @light;
			background: @red;
		}
	}
}
body {
	font-family: 'Arial', sans-serif;
}
.index-page .content {
	background: #fff;
}
.content {
	background: url('../img/page-bg.jpg') no-repeat center top #fff;
}
.header-fixed {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 133px;
	background: url('../img/menutop-fixed-bg.png') no-repeat center center;

	.container {
		height: 74px;
	}
}
.top-menu {
	position: absolute;
	top: 60px;
	right: 10px;

	li {
		display: inline-block;
		vertical-align: top;
		margin: 0 3px;
		
		a {
			padding: 1px 10px 1px 0;
			font-size: 15px;
			line-height: 24px;
			color: darken(@gray, 15%);
			text-decoration: none;
			border-right: 1px solid darken(@gray, 15%);

			&:hover, &.active {
				color: darken(@red, 15%);
			}
		}
		ul {
			display: none;
		}
		&:last-child {
			
			a {
				border-right: none;
			}
		}
	}
}
.logo-top {
	position: absolute;
	top: 10px;
	left: 190px;
	width: 194px;
	height: 129px;
	background: url('../img/logo.png') no-repeat center center;
}
.slider {
	position: relative;
	width: 100%;
	min-width: 1260px;
	height: 485px;
	overflow: hidden;

	.slide {
		height: 485px;
		left: 50% !important;
		margin-left: -960px;

		img {
			width: 1920px;
			height: 485px;
		}
	}
	.slide-content {
		position: absolute;
		top: 0;
		width: 1260px;
		padding-top: 220px;
		padding-left: 135px;
		height: 100%;
		left: 50%;
		margin-left: -630px;
	}
	.title {
		font-size: 30px;
		font-weight: lighter;
		line-height: 40px;
		color: @red;
		background: @light2;
	}
	.desc {
		width: 650px;
		margin-top: 10px;
		padding: 5px;
		font-size: 16px;
		line-height: 24px;
		font-weight: lighter;
		color: @black;
		background: @light2;

		p {
			margin: 0;
		}
		.more {
			font-size: 15px;
			font-weight: lighter;
			color: @red;
			padding-left: 10px;
			text-decoration: none;
		}
	}
	.prev, .next {
		position: absolute;
		width: 185px;
		height: 80px;
		top: 50%;
		margin-top: -40px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		cursor: pointer;

		img {
			display: none;
			position: relative;
		}
		&:hover {
			img {
				display: block;
			}
		}
	}
	.prev {
		left: 20px;
		background: url('../img/arrow-red-left.png') no-repeat center left 10px;

		img {
			left: 44px;
		}
		&:hover {
			background: url('../img/arrow-red-left.png') no-repeat center left 10px @light2;
		}
	}
	.next {
		right: 20px;
		background: url('../img/arrow-red-right.png') no-repeat center right 10px;

		&:hover {
			background: url('../img/arrow-red-right.png') no-repeat center right 10px @light2;
		}
	}
}
.block2 {
	position: relative;
	top: -26px;
	z-index: 10;
	padding: 40px 0 55px;
	background: url('../img/block2-bg.png') no-repeat center top;

	.latest {
		display: block;
		width: 182px;
		height: 36px;
		margin: 0 auto;
		padding-top: 2px;
		color: @light;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		background: url('../img/red-arrow-btn.png') no-repeat center center;
		opacity: 0.9;
		filter: alpha(opacity=90);

		&:hover {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}
	.broadcast-list {

		.block-title {
			margin: 0;
			font-size: 12px;
			line-height: 12px;
			color: @blue;
		}
		.broadcast-single {
			margin-bottom: 15px;

			.title {
				font-size: 24px;
				margin: 0 0 10px;
				color: @red;
				text-decoration: none;
			}
		}
	}
	.banners-list {

		a {
			margin-bottom: 15px;
		}
	}
	.winners {
		position: relative;

		.more {
			position: absolute;
			right: 100px;
			top: 10px;
			padding-right: 20px;
			font-size: 14px;
			color: @blue;
			text-decoration: none;
			background: url('../img/arrow-blue-icon.png') no-repeat center right;

				&:hover {
					color: darken(@blue, 10%);
				}

		}
		.title {
			font-size: 24px;
			margin: 0 0 15px;
			color: @red;
			text-decoration: none;
		}
		.winners-list {
			width: 320px;
			height: 300px;
			overflow: hidden;
			position: relative;

			.winners-inner {
				position: absolute;
				top: 0;
			}
		}
		.winner-single {
			height: 142.5px;

			.winner-title {
				font-size: 15px;
				margin: 0;
				margin-bottom: 10px;
				width: 255px;
			}
			.winner-info {
				width: 245px;
			}
			.category {
				display: block;
				padding-left: 30px;
				margin: 0;
				font-size: 12px;
				line-height: 24px;
				color: @blue;
				background: url('../img/smalllogo.png') no-repeat center left;
			}
			.desc {
				margin: 3px 0 5px;
				height: 45px;
				font-size: 12px;
				line-height: 14px;
				color: lighten(@dark, 10%);
			}
			img.to-left {
				width: 75px;
				height: 75px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
				border-radius: 6px;
			}
		}
		.winners-divider {
			width: 216px;
			height: 15px;
			margin: 5px auto;
			background: url('../img/winners-divider.png') no-repeat center center;
		}
	}
	.winners-nav {
		position: absolute;
		right: 0;
		top: 61px;

		.line {
			width: 1px;
			height: 100px;
			margin: 5px auto;
			background: url('../img/winner-line.png') no-repeat center top;
		}
		.up, .down {
			display: block;
			margin: 15px auto;
			width: 17px;
			height: 10px;
			cursor: pointer;
		}
		.up {
			background: url('../img/arrow-grey-top.png') no-repeat center center;

			&:hover {
				background: url('../img/arrow-red-top.png') no-repeat center center;
			}
		}
		.down {
			background: url('../img/arrow-grey-bottom.png') no-repeat center center;

			&:hover {
				background: url('../img/arrow-red-bottom.png') no-repeat center center;
			}
		}
	}
}
.newsletter {
		position: absolute;
		padding-left: 25px;
		right: 30px;
		top: 20px;
		font-size: 15px;
		line-height: 24px;
		color: @red;
		text-decoration: none;
		background: url('../img/add-red-icon.png') no-repeat left center;

		&:hover {
			color: darken(@red, 10%);
		}
	}
	.article-single {
		margin-bottom: 30px;

		img.to-left {
			width: 245px;
			height: 165px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;
			border-radius: 6px;
			margin-right: 15px;
		}
		.article-info {
			width: 530px;

			.title, .date, .desc {
				margin: 0;
			}
			.title {
				font-size: 24px;
				line-height: 30px;
				color: @black;
				text-decoration: none;

				&:hover {
					color: @red;
				}
			}
			.date {
				margin-top: 5px;
				font-size: 12px;
				line-height: 20px;
				color: @blue;
			}
			.desc {
				margin: 5px 0 10px;
				height: 75px;
				font-size: 13px;
				line-height: 15px;
			}
			.more {
				padding-right: 20px;
				font-size: 14px;
				color: @blue;
				text-decoration: none;
				background: url('../img/arrow-blue-icon.png') no-repeat center right;

				&:hover {
					color: darken(@blue, 10%);
				}
			}
		}
	}
.block3 {
	position: relative;
	padding: 40px 0 55px;
	z-index: 10;
	top: -46px;
	background: url('../img/block3-bg.png') no-repeat center top;

	h2 {
		margin-bottom: 40px;
	}
	.more {
		position: absolute;
		top: 22px;
		right: 260px;
		padding-right: 20px;
		font-size: 14px;
		color: @blue;
		text-decoration: none;
		background: url('../img/arrow-blue-icon.png') no-repeat center right;

		&:hover {
			color: darken(@blue, 10%);
		}
	}
	.news-single {
		display: inline-block;
		vertical-align: top;
		height: 170px;
		width: 245px;
		margin-right: 25px;
		
		.title, .date, .desc {
			margin: 0;
		}
		.title {
			color: @light;
			font-size: 18px;
			text-decoration: none;

			&:hover {
				color: @red;
			}
		}
		.date {
			margin: 3px 0;
			font-size: 12px;
			color: @blue;
			opacity: 0.95;
			filter: alpha(opacity=95);
		}
		.desc {
			font-size: 13px;
			line-height: 18px;
		}
		&:last-child {
			margin-right: -4px;
		}
	}
	.news-divider {
		width: 793px;
		height: 19px;
		margin: 0 auto;
		background: url('../img/news-divider.png') no-repeat center center;
	}
}
.block4 {
	position: relative;
	top: -64px;
	padding: 90px 0;
	z-index: 8;
	text-align: center;
	background: url('../img/block4-bg.jpg') no-repeat center top;

	.about-divider {
		width: 216px;
		height: 15px;
		margin: 25px auto;
		background: url('../img/winners-divider.png') no-repeat center center;
	}
	.about-desc {
		font-size: 16px;
		line-height: 25px;
	}
	.more {
		display: block;
		width: 182px;
		height: 36px;
		margin: 25px auto;
		padding: 6px;
		font-size: 15px;
		color: @light;
		text-decoration: none;
		background: url('../img/red-btn.png') no-repeat center center;
		opacity: 0.9;
		filter: alpha(opacity=90);

		&:hover {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}
}
.block5 {
	position: relative;
	padding: 90px 0 75px;
	z-index: 9;
	top: -86px;
	text-align: center;
	background: url('../img/block5-bg.png') no-repeat center top;

	.cond-divider {
		width: 216px;
		height: 15px;
		margin: 25px auto;
		background: url('../img/winners-divider.png') no-repeat center center;
	}
	.cond-desc {
		font-size: 16px;
		line-height: 25px;
	}
	.twocol {
		margin-top: 25px;
	}
	.onecol {
		width: 580px;

		.img-wrapper {
			height: 55px;
		}
		.step-desc {
			font-size: 14px;
			line-height: 24px;
		}
	}
	.btn-wrapper {
		margin-top: 15px;

		a {
			display: inline-block;
			width: 232px;
			height: 67px;
			margin: 0 25px;
			padding-top: 20px;
			padding-left: 40px;
			font-size: 18px;
			text-decoration: none;
			color: @black;
			vertical-align: top;
			opacity: 0.9;
			filter: alpha(opacity=90);

			&:hover {
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}
		.cond {
			background: url('../img/white-doc-btn.png') no-repeat center center;
		}
		.req {
			background: url('../img/white-request-btn.png') no-repeat center center;
		}
	}
}
.page {
	margin: 40px 0 50px;
	
	.page-content {
		.title {
			font-size: 24px;
			line-height: 26px;
		}
		p {
			font-size: 14px;
			line-height: 22px;
		}
	}
	p.subcontent {
		margin-left: 15px;
		font-size: 13px;
	}
}
.page-article {

	h1, h2 {
		font-size: 24px;
		line-height: inherit;
	}
	.img-article {
		width: 100%;
		height: auto;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
	}
	.date-article {
		margin: 5px 0;
		font-size: 12px;
		color: @blue;
	}
	.share-article {
		text-align: center;

		p {
			margin: 10px 0 5px;
		}
	}
	.line-divider {
		margin: 15px 0;
	}
	.latest-block {

		h3 {
			font-size: 24px;
			text-align: center;
		}
	}
	.latest-single {
		display: inline-block;
		vertical-align: top;
		height: 330px;
		width: 245px;
		margin-right: 25px;
		
		.title, .date, .desc {
			margin: 0;
		}
		.title {
			color: @red;
			font-size: 18px;
			text-decoration: none;

			&:hover {
				color: darken(@red, 10%);
			}
		}
		.date {
			margin: 3px 0;
			font-size: 12px;
			color: @blue;
			opacity: 0.95;
			filter: alpha(opacity=95);
		}
		.desc {
			font-size: 13px;
			line-height: 18px;
		}
		&:last-child {
			margin-right: -4px;
		}
	}
}
.page-contacts {

	.map {
		float: left;

		ymaps {
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;
			border-radius: 6px;
		}
	}
	.contacts-rightcol {
		float: left;
		margin-left: 25px;
		font-size: 14px;
		line-height: 20px;
	}
	.contacts-leftcol {
		font-size: 14px;
		line-height: 20px;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
.breadcrumbs {
	padding-top: 135px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin-right: 5px;
			font-size: 12px;
			color: darken(@gray, 10%);
			
			a {
				color: darken(@gray, 10%);
				text-decoration: none;

				&:hover {
					color: @dark;
				}
			}
			&:after {
				content: '/';
				font-size: 12px;
				color: darken(@gray, 10%);
				margin-left: 8px;
			}
			&:last-child:after {
				content: none;
			}
		}
	}
}
.main-footer {

	.partners-slider {

		a {
			text-decoration: none;
			text-align: center;

			img {
				width: 158px;
				height: 61px;
			}
			p {
				width: 160px;
				margin: 0;
				font-size: 11px;
				color: @gray;
			}
			&:hover {

				p {
					color: @red;
				}
			}
		}
		.owl-prev, .owl-next {
			position: absolute;
			display: block;
			width: 16px;
			height: 31px;
			top: 50%;
			margin-top: -15.5px;
			text-indent: -9999px;
			opacity: 0.8;
			filter: alpha(opacity=80);

			&:hover {
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}
		.owl-prev {
			left: -20px;
			background: url('../img/arrow-grey-left.png') no-repeat center center;
		}
		.owl-next {
			right: -20px;
			background: url('../img/arrow-grey-right.png') no-repeat center center;
		}
	}
	.top-panel {
		padding-bottom: 30px;
	}
	.top-panel + .line-divider {
		margin: 0;
	}
	.bottom-panel {
		padding-top: 30px;
		background: #f9f9f9;
	}
	.logo-bottom {
		margin-left: 65px;
		display: block;
		width: 108px;
		height: 108px;
		background: url('../img/logobottom.png') no-repeat center center;

		&:hover {
			background: url('../img/logobottom-h.png') no-repeat center center;
		}
	}
	.menu-bottom {
		margin-top: 10px;
		margin-left: 95px;

		ul {
			display: inline-block;
			margin-right: 30px;
			vertical-align: top;

			li {

				a {
					font-size: 14px;
					text-decoration: none;
					color: @gray;

					&:hover {
						color: @red;
					}
				}
			}
		}
	}
	.social {
		margin-top: 10px;
		margin-left: 150px;

		p {
			margin: 0;
			font-size: 14px;
			color: @gray;
		}
		.soc-links {
			margin-top: 10px;

			a {
				display: inline-block;
				width: 34px;
				height: 33px;
				margin-right: 5px;
				vertical-align: top;
			}
		}
		.tw	{
			background: url('../img/twitter-icon.png') no-repeat center;

			&:hover {
				background: url('../img/twitter-icon-h.png') no-repeat center;
			}
		}
		.fb	{
			background: url('../img/facebook-icon.png') no-repeat center;

			&:hover {
				background: url('../img/facebook-icon-h.png') no-repeat center;
			}
		}
		.gp	{
			background: url('../img/google-icon.png') no-repeat center;

			&:hover {
				background: url('../img/google-icon-h.png') no-repeat center;
			}
		}
	}
	.hodlogo {
		display: block;
		margin-top: 10px;
		margin-left: 35px;
		width: 96px;
		height: 64px;
		background: url('../img/hodlogo.png') no-repeat center center;

		&:hover {
			background: url('../img/hodlogo-h.png') no-repeat center center;
		}
	}
}